<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>Chăm sóc khách hàng</h4>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Câu hỏi thường gặp</a></li>
				<li><a href="buy.html">Mua như thế nào</a></li>
				<li><a href="#">Ship hàng</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>Về chúng tôi</h4>
				<li><a href="#">Câu truyện về mặt nạ tươi</a></li>
				<li><a href="#">Báo chí</a></li>
				<li><a href="#">Nghề nghiệp</a></li>
				<li><a href="contact.html">Liên hệ</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>Tài khoản</h4>
				<li><a href="register.html">Đăng ký</a></li>
				<li><a href="#">Giỏ hàng</a></li>
				<li><a href="#">Lịch sử đặt hàng</a></li>
				<li><a href="buy.html">Thanh toán</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>Địa chỉ</h4>
			</div>
			<div class="clearfix"> </div>
				<li><i class="add"> </i>23 đường số 5, phường 9, quận Gò vấp, Hồ Chí Minh.</li>
				<li><i class="phone"> </i>09 3887 38887</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>bich@freshmas.com </a></li>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>
