<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="#">Giúp đỡ</a></li>|
					<li><a href="contact.html">Liên hệ</a></li>|
					<li><a href="#">Thông tin ship hàng</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Gọi chúng tôi : 09 3887 3887</h2>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
